body {
    background: skyblue;
    font-color: white;
}

.block {
    background: pink;
    position: relative;
    border: 2px solid rgb(253, 252, 252);
    width: 260px;
    height: 300px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 5px;
}


.block:hover {
    outline: 10px double yellow;
    background: rgb(114, 88, 209);
    transition: 2s;
    z-index: 1;
}


img {
    background-size: cover;
    position: absolute;
    width: 70%;
    height: 75%;
    display: block;
    margin-left: 40px;
}

div {
    color: white;
    background: blue;
    border: 2px solid white;
    width: 100%;
}